astroid==3.0.2
certifi==2023.7.22
charset-normalizer==3.3.2
dill==0.3.8
distlib==0.3.7
filelock==3.12.3
flake8==7.0.0
flake8-for-pycharm==0.4.1
idna==3.4
isort==5.13.2
mccabe==0.7.0
packaging==23.2
platformdirs==3.10.0
pycodestyle==2.11.1
pyflakes==3.2.0
pylint==3.0.3
python-dotenv==1.0.0
requests==2.31.0
tomlkit==0.12.3
urllib3==2.0.7
virtualenv==20.24.4
webdriver-manager==4.0.1
